h2 {
    word-break: break-all;
}

.contract-number-space {
    margin-top: 2.5rem;
}

.is-mobile {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

p {
    word-break: break-all;
    margin-bottom: 0 !important;
}

.address {
    margin-top: 0.5rem !important;
    @media(max-width: 599px) {
        margin-top: 0 !important;
    }
}

.mobile {
    .divider-padding {
        padding-bottom: 0;
    }
}

.stepper-button {
    float: right;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}