<div *ngIf="contractSignature">
    <div fxLayout [ngClass]="!(isMobile | async)!.matches ? '' : 'is-mobile'" fxLayoutGap="1.5rem">
        <div fxLayout="column" fxFlex="6 6 calc(6*100%/12 - 24px)" fxLayoutGap="0.5rem" fxLayoutGap.lt-sm="0rem">
            <h2>Liqui.do S.A.</h2>
            <p fxHide.lt-sm class="mat-body">Rua Mar da China, 1, Esc 2.2</p>
            <p fxHide.lt-sm class="mat-body">1990-137 Lisboa, Portugal</p>
            <p fxHide.lt-sm class="mat-body-2 address">NIPC 513 626 930</p>
            <p fxShow.lt-sm fxHide.gt-xs class="mat-caption address">NIPC 513 626 930</p>
        </div>
        <div fxLayout="column" fxFlex="6 6 calc(6*100%/12 - 24px)" fxLayoutAlign="start end">
            <p fxHide.lt-sm class="mat-body">Contrato de locação / Master Lease Agreement</p>
            <div [ngClass]="!(isMobile | async)!.matches ? 'contract-number-space' : ''" fxLayout="column">
                <mat-label class="mat-caption">Contrato nº</mat-label>
                <h2>{{contractSignature?.application?.name}}</h2>
            </div>
        </div>
    </div>
    <mat-vertical-stepper linear>
        <mat-step label="Informação da minha Empresa">
            <app-contract-client-information [clientInfo]="contractSignature?.client" [contractID]="contractSignature?.application?.id" [docRecipientId]="docRecipientId" [token]="token">
            </app-contract-client-information>
            <div class="stepper-button">
                <button mat-stroked-button color="primary" matStepperNext>Próximo</button>
            </div>
        </mat-step>
        <mat-step label="Informação do Fornecedor">
            <app-contract-fornecedor-information [providerInfo]="contractSignature?.vendor"></app-contract-fornecedor-information>
            <div class="stepper-button" fxLayoutGap="0.25rem">
                <button mat-button color="primary" matStepperPrevious>Anterior</button>
                <button mat-stroked-button color="primary" matStepperNext>Próximo</button>
            </div>
        </mat-step>
        <mat-step [completed]="ibanDeclaration" label="Confirmação de IBAN para pagamento">
            <app-contract-iban [ibanInfo]="contractSignature?.client?.iban" [clientId]="contractSignature?.client?.id" [applicationPaymentMethod]="contractSignature?.application?.paymentMethod" [docRecipientId]="docRecipientId" [token]="token"></app-contract-iban>
            <div class="stepper-button" fxLayoutGap="0.25rem">
                <button mat-button color="primary" matStepperPrevious>Anterior</button>
                <button mat-stroked-button color="primary" matStepperNext>Próximo</button>
            </div>
        </mat-step>
        <mat-step label="Opções de Contrato">
            <app-application-values [contract]="contractSignature?.application" [rents]="contractSignature?.rents" [signature]="true" [clientId]="contractSignature?.client?.id" [applicationId]="contractSignature?.application?.id" [iban]="contractSignature?.client?.iban"
                [token]="token" [docRecipientId]="docRecipientId">
            </app-application-values>
            <div class="stepper-button" fxLayoutGap="0.25rem">
                <button mat-button color="primary" matStepperPrevious>Anterior</button>
                <button mat-stroked-button color="primary" matStepperNext>Próximo</button>
            </div>
        </mat-step>
        <mat-step label="Cláusulas Contratuais e Assinatura">
            <app-contract-clauses [docRecipientId]="docRecipientId" [declinedReasons]="contractSignature?.declinedReasons" [personalGuarantee]="contractSignature?.personalGuarantee" [signer]="contractSignature?.signer"></app-contract-clauses>
            <div class="stepper-button" fxLayoutGap="0.25rem">
                <button mat-button color="primary" matStepperPrevious>Anterior</button>
                <button *ngIf="signedInfo?.reason" mat-stroked-button color="primary" matStepperNext>Próximo</button>
            </div>
        </mat-step>
        <mat-step label="Assinatura Digital" *ngIf="signedInfo?.reason">
            <app-contract-signed-information></app-contract-signed-information>
            <div class="stepper-button">
                <button mat-button color="primary" matStepperPrevious>Anterior</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>
<div *ngIf="!contractSignature" fxLayout="row" fxLayoutGap="8px">
    <mat-icon fxLayoutAlign="start center">error_outline</mat-icon>
    <span fxLayoutAlign="start center">A carregar Contrato</span>
</div>