.card {
    padding-top: 1rem !important;
    .caption-label {
        margin-bottom: 0px;
        color: #03363e;
    }
    .label-value {
        white-space: initial;
        color: rgba(3, 54, 62, 0.8);
        word-break: break-all;
        color: #03363e;
    }
    .mat-icon-button {
        top: -15px;
        left: -5px;
    }
    .mat-icon {
        color: #00acc1;
        font-size: 24px;
        cursor: pointer;
        height: 24px;
        width: 24px;
        position: relative;
    }
     ::ng-deep .mat-checkbox-inner-container {
        margin-top: 0px !important;
    }
    @media(max-width: 599px) {
         ::ng-deep .mat-checkbox-inner-container {
            margin-top: 4px !important;
        }
        .mat-icon-button {
            left: 18px;
        }
    }
    @media(max-width: 959px) {
        margin-bottom: 0.5rem !important;
    }
}

@media(max-width: 599px) {
    padding-top: 24px !important;
}

.condition {
    color: rgba(3, 54, 62, 0.6);
    margin-bottom: 0.5rem;
}