.clause-container {
    padding-top: 1rem;
    h3 {
        color: #03363e;
    }
    p {
        color: rgba(3, 54, 62, 0.7);
        margin-left: 18px;
    }
    .mobile {
        margin-left: 0;
    }
    .bottom-space {
        margin-bottom: 2rem;
    }
}

.button-container {
    border: 1px #80808057 solid;
    margin-bottom: 1rem;
}