form {
    margin-top: 2rem;
    .option {
        white-space: initial;
    }
    .topSpace {
        margin-top: -25px;
        margin-bottom: 2rem;
    }
    .labelCheckbox {
        color: rgba(3, 54, 62, 0.8);
    }
    .signature-buttons {
        margin-left: auto;
        button {
            letter-spacing: 0.1rem;
        }
    }
}